* {
    margin: 0;
    padding: 0;
}

.container {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 100px;
}

.title {
    text-transform: uppercase;
    font-weight: 1000;
    text-decoration: underline overline;
}

h3:after {
    content: ' -=I=-';
}

h3:before {
    content: '-=I=- ';
}

.area {
    color: aqua;
}
